accelerate
colored
controlnet_aux
cuda-python
diffusers>=0.19.3
ftfy
matplotlib
nvtx
onnx==1.21.0
onnxruntime==1.15.1
scipy
transformers==5.0.0rc3
--extra-index-url https://pypi.ngc.nvidia.com
onnx-graphsurgeon
polygraphy
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
